<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Tamagotchi</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body style="background-image: url(https://wallpaper-house.com/data/out/4/wallpaper2you_33271.jpg)">
<div>
  <% if tamagotchi.dead? %>
    <div style="padding-left: 500px">
      <h1 style="font-size: 100px; font-family: Brush Script MT, Brush Script Std, cursive; ;color:black ">
        Pet is dead
      </h1>
      <img style="padding-left: 65px" src="https://img.icons8.com/cotton/200/000000/coffin.png">
    </div>
  <% else %>
    <div style="padding-left: 280px; padding-top: 200px ">
      <div style="float: left; padding-right: 50px">
        <img style="float: left" src="https://img.icons8.com/cotton/150/000000/like.png">
        <div style="font-size: 100px; font-family: Brush Script MT, Brush Script Std, cursive;  color:limegreen ">
          <%= tamagotchi.health %> %
        </div>
      </div>
      <div style="float: left; padding-right: 50px">
        <a href="../feed"><img src="https://img.icons8.com/cotton/150/000000/hamburger.png"></a>
        <div style="font-size: 100px; font-family: Brush Script MT, Brush Script Std, cursive; color:limegreen ">
          <%= tamagotchi.hungry %> %
        </div>
      </div>
      <div style="float: left; padding-right: 50px">
        <a href="../sleep"><img src="https://img.icons8.com/linen/150/000000/electricity.png"></a>
        <div style="font-size: 100px; font-family: Brush Script MT, Brush Script Std, cursive; ;color:limegreen ">
          <%= tamagotchi.energiness %> %
        </div>
      </div>
      <div>
        <a href="../clean"><img src="https://img.icons8.com/cotton/150/000000/wash-your-hands.png"></a>
        <div style="font-size: 100px; font-family: Brush Script MT, Brush Script Std, cursive; color:limegreen ">
          <%= tamagotchi.cleanliness %> %
        </div>
      </div>
    </div>
  <%end %>
</div>
</body>
</html>
