<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>name</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body style="background-image: url(https://wallpaper-house.com/data/out/4/wallpaper2you_33271.jpg)">
<form method="get" action="/new">
  <div class="form-group">
    <label for="exampleInputEmail1">Name Pit</label>
    <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter name" >
  </div>
  <button type="submit" class="btn btn-primary">enter</button>
</form>
</body>
</html>
